.c-holding {

  min-height: 100vh;

  &__container {
    left: 50%;
    margin: inuit-rem(80px) 0;
    padding: 0 5%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: 50;
    
    @include mq($from: tablet) {
      margin: 0;
      padding: 0;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 75%;
    }

    @include mq($from: desktop) {
      //width: 33%;
      max-width: inuit-rem(650px);
    }
  }
    
  &__logo {
    margin: 0 auto;
    width: 100%;

    @include mq($from: mobileLandscape) {
      width: 75%;
    }
  }

  &__title {
    font-family: $fontHighlandpark;
    font-size: inuit-rem(40px);
    letter-spacing: 1px;
    line-height: $heading-line-height;
    margin: inuit-rem(80px) auto inuit-rem(40px);
    text-align: center;
    text-transform: uppercase;

    @include mq($from: tablet) {
      font-size: inuit-rem(32px);
      margin: inuit-rem(40px) auto inuit-rem(15px);
    }
  }

  &__links {
    display: inline;
    font-family: $fontTradeGothicBold;
    font-size: inuit-rem(16px);
    list-style-type: none;
    text-transform: uppercase;

    a {
      color: $black;
      border-bottom: 0;
      padding-bottom: inuit-rem(1px);
      text-decoration: none;

      &:active,
      &:focus,
      &:hover {
        border-bottom: 1px solid $brand-secondary-3;
      }
    }

    &:first-child::after {
      content: "|";
      font-size: inuit-rem(14px);
      padding-left: inuit-rem(12px);
    }
  }

  &__form {
    background-color: $brand-primary-4;
    margin-top: inuit-rem(55px);
    padding: inuit-rem(30px) 5%;

    &__title {
      color: $brand-primary-1;
      display: block; 
      font-family: $fontTradeGothicBold;
      font-size: inuit-rem(18px);
      letter-spacing: $base-letter-spacing;
      line-height: $heading-line-height;
      margin: 0 auto;
      padding-left: 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

      @include mq($from: mobileLandscape) {
        font-size: inuit-rem(18px);
        width: 80%;
      }
    }

    &__input {

      display: inline-block;
      margin-bottom: inuit-rem(16px);
      padding: 0;
      width: 100%;

      @include mq($from: mobileLandscape) {
        width: 49%;

        &:first-child {
          margin-right: 1%;
        }

        &:last-child {
          margin-left: 1%;
          margin-right: 0;
        }
      }

      @include mq($from: desktop) {
        margin-bottom: 0;

        &:last-child {
          margin-left: 0;
        }
      }
      
      input {
        height: inuit-rem(44px);
        padding-left: inuit-rem(10px); 
        width: 100%; 

        @include mq($from: desktop) {
          height: inuit-rem(35px);
        }
      }
    }

    &__submit {

      padding-left: 0;
      width: 100%;

      @include mq($from: desktop) {
        width: 98%;
        margin-left: 2%;
      }

      input {
        background-color: $brand-primary-4;
        border: inuit-rem(1px) solid $brand-primary-1;
        color: $brand-primary-1;
        height: inuit-rem(44px);
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;

        @include mq($from: desktop) {
          height: inuit-rem(35px);
        }
      }
    }

    @include mq($from: tablet) {
      padding: inuit-rem(15px);
    }
  }

  &__video {
    //background: url('../media/holding-video-fallback.png') no-repeat;
    background-size: cover;
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: -100;
  }
}
