.c-team {

  &__panel {
    height: 50vh;
  }

  &__row {

    &--upper,
    &--lower {
      left: 0;
      position: fixed;
      width: 100%;
    }

    &--upper {
      top: 0;
    }

    &--lower {
      top: 50vh;
    }

    &--relative {
      position: relative;
      transform: translateY(50vh);  
    }

    &--1 {
      z-index: 5;
    }

    &--2 {
      z-index: 15;
    }

    &--3 {
      z-index: 10;
    }

    &--4 {
      z-index: 20;
    }
  }
}
