.c-holding {

  min-height: 100vh;

  &__container {
    left: 50%;
    padding: inuit-rem(24px);
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    z-index: 50;

    @include mq($until: tablet, $and: '(orientation: landscape)') {
      top: 0;
      transform: translateX(-50%);
    }

    @include mq($from: tablet) {
      width: 75%;
      padding: 0;
    }

    @include mq($from: desktop) {
      width: 50%;
    }
    
    @include mq($from: wide) {
      width: 33%;
    }
  }
    
  &__logo {
    margin: 0 auto;
    width: inuit-rem(500px);
  }

  &__title {
    text-transform: uppercase;
  }

  &__links {

    list-style-type: none;
    display: inline;
    text-transform: uppercase;

    &:first-child::after {
      content: "|";
      padding-left: inuit-rem(12px);
    }
  }

  &__form {
    background-color: $brand-primary-4;
    padding: inuit-rem(12px);

    &__wrapper {
      position: relative;
    }

    &__title {
      color: $brand-primary-1;
      text-align: center;
    }

    &__input {
      height: inuit-rem(35px);
      width: 95%;

      &--name {
        display: none;

        @include mq($from: desktop) {
          display:inline-block;
        }
      }

      @include mq($from: desktop) {
        width: 48%;
      }
    }

    &__submit {
      background-color: $brand-primary-4;
      border: inuit-rem(1px) solid $brand-primary-1;
      color: $brand-primary-1;
      height: inuit-rem(35px);
      text-transform: uppercase;
      width: 100%;
    }

    @include mq($from: tablet) {
      padding: inuit-rem(24px);
    }
  }

  &__video {
    //background: url('../media/holding-video-fallback.png') no-repeat;
    background-size: cover;
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: -100;
  }
}
