// Default

$black: #000000;
$white: #ffffff;


// Brand Palette

$brand-primary-1: #f7f8f8; // White 
$brand-primary-2: #c9d2ce; // Grey 
$brand-primary-3: #232323; // Charcoal
$brand-primary-4: #49695c; // Green

$brand-secondary-1: #861f27; // Red 
$brand-secondary-2: #df8226; // Orange
$brand-secondary-3: #6e99cc; // Blue


